<ion-view view-title="{{'app_name' | translate}}">
  <ion-content>

    <div class="img_logocap"></div>

    <form ng-submit="doLogin()">
    <div class="list">
      <label class="item item-input">
        <input ng-model="login.username" class="text-center" type="text" placeholder="{{'login_username' | translate}}">
      </label>
      <label class="item item-input">
        <input ng-model="login.password" class="text-center" type="password" placeholder="{{'login_password' | translate}}">
      </label>
      <button ng-click="doLogin()" class="button button-full button-royal" type="submit">{{'action_signin' | translate}}</button>
    </div>
    </form>
  </ion-content>
</ion-view>
