<ion-view view-title="{{getLabel('settings')}}">
  <ion-content>
    <ion-list>
      <ion-item class="item-icon-left item-icon-right" ng-click="gotoSettingsLang()">
        <i class="icon ion-earth"></i>
          {{getLabel('settings_lang')}}
          <i class="icon ion-chevron-right icon-goto"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>


<script id="settings-lang.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar-calm">
      <div class="buttons">
        <button class="button button-small button-icon icon ion-android-arrow-back" ng-click="closeSettingsLang()"></button>
      </div>
      <h1 class="title">{{getLabel('settings')}} - {{getLabel('settings_lang')}}</h1>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-radio ng-repeat="lang in langs" ng-model="settings.lang" ng-value="lang.name">{{lang.label}}</ion-radio>
      </ion-list>
    </ion-content>
  </ion-modal-view>
</script>
