<ion-view view-title="{{'settings' | translate}}">
  <ion-content>
    <ion-list>
      <ion-item class="item-icon-left item-icon-right" ng-click="gotoSettingsLang()">
        <i class="icon ion-earth"></i>
          {{'settings_lang' | translate}}
          <i class="icon ion-chevron-right icon-goto"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>


<script id="settings-lang.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar-calm">
      <div class="buttons">
        <button class="button button-small button-icon icon ion-ios-arrow-back" ng-click="closeSettingsLang()"></button>
      </div>
      <h1 class="title">{{'settings' | translate}} - {{'settings_lang' | translate}}</h1>
    </ion-header-bar>
    <ion-content>
      <form>
        <ion-radio ng-click="changeLang('en')" ng-model="settings.lang" ng-value="'en'">{{'settings_lang_en' | translate}}</ion-radio>
        <ion-radio ng-click="changeLang('fr')" ng-model="settings.lang" ng-value="'fr'">{{'settings_lang_fr' | translate}}</ion-radio>
        <ion-radio ng-click="changeLang('cn')" ng-model="settings.lang" ng-value="'cn'">{{'settings_lang_cn' | translate}}</ion-radio>
      </form>
    </ion-content>
  </ion-modal-view>
</script>
