<ion-view view-title="{{getLabel('challenges')}}">
  <ion-nav-buttons side="right">
    <i ng-show="!synchronizing" ng-click="sync()" class="button button-small button-icon icon ion-loop"></i>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="challenge in challenges" class="item-button-right" ng-click="gotoChallenge(challenge)">
        <h2><b>{{challenge.name}}</b></h2>
        <p>{{challenge.description}}</p>
        <p>{{getLabel('challenges_group')}}: {{challenge.group.name}}</p>
        <div>[{{challenge.memberCount}} {{getLabel('challenges_member_count')}}] {{getLabel('challenges_prize')}}: <span class="positive money"><div class="img_diamond"></div> {{challenge.prize}}</span></div>
        <button ng-show="!challenge._isMember" class="button button-royal">{{getLabel('action_join')}}</button>
        <button ng-show="challenge._isMember" class="button button-clear light">{{getLabel('challenges_joined')}}</button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
