<ion-view view-title="{{'tasks' | translate}}">
  <ion-nav-buttons side="right">
    <i ng-show="!synchronizing" ng-click="sync()" class="button button-small button-icon icon ion-android-sync"></i>
  </ion-nav-buttons>
  <ion-content>
    <div class="list">
      <div class="item item-icon-left item-icon-right item-royal"
           ng-class="{active: isTaskShown(tasks.habits)}">
        <i ng-click="toggleTask(tasks.habits)"
           class="icon" ng-class="isTaskShown(tasks.habits) ? 'ion-android-arrow-dropdown' : 'ion-android-arrow-dropright'"></i>
        {{'task_habits' | translate}}
        <i class="icon ion-android-add" ng-click="gotoNewHabit()"></i>
      </div>
      <div class="item item-accordion item-button-right" ng-repeat="item in tasks.habits.items"
           ng-show="isTaskShown(tasks.habits)">
        {{item.text}}
        <div ng-show="item.type === 'habit' && item.up && !item.down" class="buttons">
          <button class="button button-balanced"
                  ng-click="scoreTask(item, 'up')">
            <i class="icon ion-happy"></i>
          </button>
        </div>
        <div ng-show="item.type === 'habit' && item.down && !item.up" class="buttons">
          <button class="button button-energized"
                  ng-click="scoreTask(item, 'down')">
            <i class="icon ion-sad"></i>
          </button>
        </div>
        <div ng-show="item.type === 'habit' && item.down && item.up" class="buttons">
          <button class="button button-balanced"
                  ng-click="scoreTask(item, 'up')">
            <i class="icon ion-happy"></i>
          </button>
          <button class="button button-energized"
                  ng-click="scoreTask(item, 'down')">
            <i class="icon ion-sad"></i>
          </button>
        </div>
      </div>

      <div class="item item-icon-left item-icon-right item-royal"
           ng-class="{active: isTaskShown(tasks.dailies)}">
        <i ng-click="toggleTask(tasks.dailies)"
           class="icon" ng-class="isTaskShown(tasks.dailies) ? 'ion-android-arrow-dropdown' : 'ion-android-arrow-dropright'"></i>
        {{'task_dailies' | translate}}
        <i class="icon ion-android-add" ng-click="gotoNewDaily()"></i>
      </div>
      <div class="item item-accordion item-button-right" ng-repeat="item in tasks.dailies.items"
           ng-show="isTaskShown(tasks.dailies)">
        {{item.text}}
        <div ng-show="item.type === 'daily' && !item.completed" class="buttons">
          <button class="button button-balanced"
                  ng-click="scoreTask(item, 'up')">
            <i class="icon ion-checkmark-circled"></i>
          </button>
        </div>
      </div>

      <div class="item item-icon-left item-icon-right item-royal"
           ng-class="{active: isTaskShown(tasks.todos)}">
        <i ng-click="toggleTask(tasks.todos)"
           class="icon" ng-class="isTaskShown(tasks.todos) ? 'ion-android-arrow-dropdown' : 'ion-android-arrow-dropright'"></i>
        {{'task_todos' | translate}}
        <i class="icon ion-android-add" ng-click="gotoNewTodo()"></i>
      </div>
      <div class="item item-accordion item-button-right" ng-repeat="item in tasks.todos.items"
           ng-show="isTaskShown(tasks.todos)">
        {{item.text}}
        <div ng-show="item.type === 'todo' && !item.completed" class="buttons">
          <button class="button button-balanced"
                     ng-click="scoreTask(item, 'up')">
            <i class="icon ion-checkmark-circled"></i>
          </button>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>


<script id="tasks-newHabit.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar-calm">
      <div class="buttons">
        <button class="button button-small button-icon icon ion-android-arrow-back" ng-click="closeNewHabit()"></button>
      </div>
      <h1 class="title">{{'task_habits_create' | translate}}</h1>
      <div class="buttons">
        <button class="button icon-left ion-android-done" ng-click="createNewHabit()">{{'action_save' | translate}}</button>
      </div>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="{{'task_new_title' | translate}}" ng-model="newHabit.text">
        </label>
        <label class="item item-input">
          <textarea style="height: 100px" placeholder="{{'task_new_notes' | translate}}" ng-model="newHabit.notes"></textarea>
        </label>
        <ion-toggle ng-model="newHabit.up" toggle-class="toggle-royal">{{'task_new_up' | translate}}</ion-toggle>
        <ion-toggle ng-model="newHabit.down" toggle-class="toggle-royal">{{'task_new_down' | translate}}</ion-toggle>
        <div class="item item-divider item-royal">
          {{'task_new_difficulty' | translate}}
        </div>
        <form>
          <ion-radio ng-model="newHabit.priority" ng-value="0.1">{{'task_new_difficulty_trivial' | translate}}</ion-radio>
          <ion-radio ng-model="newHabit.priority" ng-value="1">{{'task_new_difficulty_easy' | translate}}</ion-radio>
          <ion-radio ng-model="newHabit.priority" ng-value="1.5">{{'task_new_difficulty_medium' | translate}}</ion-radio>
          <ion-radio ng-model="newHabit.priority" ng-value="2">{{'task_new_difficulty_hard' | translate}}</ion-radio>
        </form>
      </div>
    </ion-content>
  </ion-modal-view>
</script>


<script id="tasks-newDaily.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar-calm">
      <div class="buttons">
        <button class="button button-small button-icon icon ion-android-arrow-back" ng-click="closeNewDaily()"></button>
      </div>
      <h1 class="title">{{'task_dailies_create' | translate}}</h1>
      <div class="buttons">
        <button class="button icon-left ion-android-done" ng-click="createNewDaily()">{{'action_save' | translate}}</button>
      </div>
    </ion-header-bar>
    <ion-content>
      <div class="list">

        <label class="item item-input">
          <input type="text" placeholder="{{'task_new_title' | translate}}" ng-model="newDaily.text">
        </label>

        <label class="item item-input">
          <textarea style="height: 100px" placeholder="{{'task_new_notes' | translate}}" ng-model="newDaily.notes"></textarea>
        </label>

        <div class="item" ng-click="chooseStartDate()">
          {{'task_new_startdate' | translate}}
          <span class="item-note">{{newDaily.startDate | date: 'yyyy-MM-dd'}}</span>
        </div>

        <div class="item item-divider item-royal">
          {{'task_new_frequency' | translate}}
        </div>
        <form>
          <ion-radio ng-model="newDaily.frequency" ng-value="'weekly'">{{'task_new_frequency_weekly' | translate}}</ion-radio>
          <ion-radio ng-model="newDaily.frequency" ng-value="'daily'">{{'task_new_frequency_daily' | translate}}</ion-radio>
        </form>

        <div class="item item-button-right" ng-if="newDaily.frequency === 'daily'">
          {{'task_new_everyx' | translate}}
          <div class="buttons">
            <button class="button button-royal button-icon button-clear icon ion-android-arrow-dropleft" ng-click="decrEveryX()"></button>
            <button class="button button-outline button-royal">{{newDaily.everyX}} {{getEveryXUnit()}}</button>
            <button class="button button-royal button-icon button-clear icon ion-android-arrow-dropright" ng-click="incrEveryX()"></button>
          </div>
        </div>

        <div ng-if="newDaily.frequency === 'weekly'">
          <div class="item item-divider item-royal">
            {{'task_new_repeat' | translate}}
          </div>
          <ion-toggle ng-model="newDaily.repeat.m" toggle-class="toggle-royal">{{'task_new_repeat_m' | translate}}</ion-toggle>
          <ion-toggle ng-model="newDaily.repeat.t" toggle-class="toggle-royal">{{'task_new_repeat_t' | translate}}</ion-toggle>
          <ion-toggle ng-model="newDaily.repeat.w" toggle-class="toggle-royal">{{'task_new_repeat_w' | translate}}</ion-toggle>
          <ion-toggle ng-model="newDaily.repeat.th" toggle-class="toggle-royal">{{'task_new_repeat_th' | translate}}</ion-toggle>
          <ion-toggle ng-model="newDaily.repeat.f" toggle-class="toggle-royal">{{'task_new_repeat_f' | translate}}</ion-toggle>
          <ion-toggle ng-model="newDaily.repeat.s" toggle-class="toggle-royal">{{'task_new_repeat_s' | translate}}</ion-toggle>
          <ion-toggle ng-model="newDaily.repeat.su" toggle-class="toggle-royal">{{'task_new_repeat_su' | translate}}</ion-toggle>
        </div>

        <div class="item item-divider item-royal">
          {{'task_new_difficulty' | translate}}
        </div>
        <form>
          <ion-radio ng-model="newDaily.priority" ng-value="0.1">{{'task_new_difficulty_trivial' | translate}}</ion-radio>
          <ion-radio ng-model="newDaily.priority" ng-value="1">{{'task_new_difficulty_easy' | translate}}</ion-radio>
          <ion-radio ng-model="newDaily.priority" ng-value="1.5">{{'task_new_difficulty_medium' | translate}}</ion-radio>
          <ion-radio ng-model="newDaily.priority" ng-value="2">{{'task_new_difficulty_hard' | translate}}</ion-radio>
        </form>
      </div>
    </ion-content>
  </ion-modal-view>
</script>


<script id="tasks-newTodo.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar-calm">
      <div class="buttons">
        <button class="button button-small button-icon icon ion-android-arrow-back" ng-click="closeNewTodo()"></button>
      </div>
      <h1 class="title">{{'task_todos_create' | translate}}</h1>
      <div class="buttons">
        <button class="button icon-left ion-android-done" ng-click="createNewTodo()">{{'action_save' | translate}}</button>
      </div>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="{{'task_new_title' | translate}}" ng-model="newTodo.text">
        </label>
        <label class="item item-input">
          <textarea style="height: 100px" placeholder="{{'task_new_notes' | translate}}" ng-model="newTodo.notes"></textarea>
        </label>
        <div class="item item-divider item-royal">
          {{'task_new_difficulty' | translate}}
        </div>
        <form>
          <ion-radio ng-model="newTodo.priority" ng-value="0.1">{{'task_new_difficulty_trivial' | translate}}</ion-radio>
          <ion-radio ng-model="newTodo.priority" ng-value="1">{{'task_new_difficulty_easy' | translate}}</ion-radio>
          <ion-radio ng-model="newTodo.priority" ng-value="1.5">{{'task_new_difficulty_medium' | translate}}</ion-radio>
          <ion-radio ng-model="newTodo.priority" ng-value="2">{{'task_new_difficulty_hard' | translate}}</ion-radio>
        </form>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
