<ion-view view-title="{{'challenges' | translate}}">
  <ion-nav-buttons side="right">
    <i ng-show="!synchronizing" ng-click="sync()" class="button button-small button-icon icon ion-android-sync"></i>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="challenge in challenges" class="item-button-right">
        <div ng-click="gotoChallenge(challenge)">
          <h2><b>{{challenge.name}}</b></h2>
          <p><b>{{challenge.description}}</b></p>
          <p>{{'challenges_group' | translate}}: <b>{{challenge.group.name}}</b></p>
          <div class="row row-no-padding">
            <div class="col-33"><i class="icon ion-person-stalker"></i>&nbsp;&nbsp;{{challenge.memberCount}}</div>
            <div class="col-33 positive money"><div class="img_diamond"></div> {{challenge.prize}}</div>
          </div>
        </div>
        <button ng-if="!challenge._isMember" class="button button-royal" ng-click="joinChallenge(challenge)">{{'action_join' | translate}}</button>
        <button ng-if="challenge._isMember" class="button button-clear button-light button-icon icon ion-chevron-right" ng-click="gotoChallenge(challenge)"></button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
