/* Empty. Add your own CSS if you like */
.list .item.item-accordion {
  transition: 0.01s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.img_logocap {
  background: url("../img/capgemini-logo.jpg") no-repeat center;
  background-size: contain;
  margin: 10vh auto;
  height: 10vh;
}

.img_avatar {
  background: url("../img/capgemini-pique.jpg") no-repeat center;
  background-size: contain;
}

.img_diamond {
  height: 20px;
  width: 20px;
  float: left;
  margin: 0 10px;
  background: url('../img/ic_diamond.png') no-repeat center;
  background-size: contain;
}

.img_gold {
  height: 20px;
  width: 20px;
  float: left;
  margin: 0 10px;
  background: url('../img/ic_gold.png') no-repeat center;
  background-size: contain;
}

.img_silver {
  height: 20px;
  width: 20px;
  float: left;
  margin: 0 10px;
  background: url('../img/ic_silver.png') no-repeat center;
  background-size: contain;
}

.money {
  line-height: 20px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.icon-goto {
  color: #DDDDDD;
}
