.img_cards {
  background: url("../img/justplay-cards.png") no-repeat center;
  background-size: contain;
  margin: 6vh auto;
  height: 20vh;
}

.img_logocap {
  background: url("../img/capgemini-logo.jpg") no-repeat left;
  background-size: contain;
  margin: 2vh;
  height: 5vh;
}

.img_avatar {
  background: url("../img/capgemini-pique.jpg") no-repeat center;
  background-size: contain;
}

.img_diamond {
  height: 20px;
  width: 20px;
  float: left;
  margin: 0 10px;
  background: url('../img/ic_diamond.png') no-repeat center;
  background-size: contain;
}

.img_gold {
  height: 20px;
  width: 20px;
  float: left;
  margin: 0 10px;
  background: url('../img/ic_gold.png') no-repeat center;
  background-size: contain;
}

.img_silver {
  height: 20px;
  width: 20px;
  float: left;
  margin: 0 10px;
  background: url('../img/ic_silver.png') no-repeat center;
  background-size: contain;
}

.money {
  line-height: 20px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.icon-goto {
  color: #DDDDDD;
}
